<html>

<head>
    <title> Web Scrapper using Node & Nightmare </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <body>
        <div class="header" id="myHeader">
            <h2> NFL Teams Web Scrapping </h2>
        </div>
        <div class="todo-container">
            <div class="rowC">
                <form action="/getTeams" method="GET">
                    <button type="submit" class="btn btn-success">Get Teams</button>
                </form>
                <form action="/getPlayers" method="POST">
                    <div class="subrowC">
                        <input type="text" maxlength="1" autofocus=true name="lastN" placeholder="Enter Last name Initial e.g a" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm">
                        <button type="submit" class="btn btn-success">Get Players</button>

                    </div>
                </form>
            </div>
            <div class="teamList">
                <% teamData.forEach((team,index)=>{ %>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= team.title %>
                            </h5>
                            <img src="<%=team.img%>" />
                            <a href="<%=team.url%>" target="_blank" class="card-link">Profile</a>
                            <% if (team.site !== 'empty') { %>
                                <a href="<%=team.site %>" target="_blank" class="card-link">Full Site</a>
                                <%} else { %>
                                    <p> </p>
                                    <% } %>

                        </div>
                    </div>
                    <% }) %>
            </div>


        </div>
    </body>

</html>